body 
{
	background-image: url("images/background.gif");
    background-position: right bottom;
    position: fixed;
    top: 0px;
    left: 0px;
	white-space: pre-line;
}
h1 
{
	color: white;
	font-family: courier;
	font-size: 160%;
	font-weight: bold;
}
p
{
	color: white;
	font-family: courier;
	font-size: 100%;
	font-weight: bold;
}
button
{
	color: black;
	font-family: courier;
	font-size: 160%;
	font-weight: bold;
	width: 200px;
	height: 100px;
}

.leftSide
{
	width: 70%;
}